@{
    ViewBag.Title = "NewTab";
    Layout = "~/Views/Shared/_SubLayout.cshtml";
}

<script src="~/Scripts/newtab.js"></script>

<div class="newtab-cell">
    <div class="newtab-site" draggable="true">
        <span class="newtab-sponsored"></span>
        <a class="newtab-link" title="@Model[i].Title" href="@Model[i].Link">
            <span class="newtab-thumbnail" style="background-image: url(@Model[i].Image);"></span>
            <span class="newtab-thumbnail enhanced-content"></span>
            <span class="newtab-title">@Model[i].Name</span>
        </a>
        <input type="button" title="Pin this site at its current position" class="newtab-control newtab-control-pin" />
        <input type="button" title="Remove this site" class="newtab-control newtab-control-block" />
        <span class="newtab-suggested"></span>
    </div>
</div>