#ThucDon {    
    /*background: transparent scroll center center;*/
    width:auto;
    width:1120px;
    height:100%;
       margin:0 auto;
    /*overflow: hidden;*/
    display:table;
    /*margin-top:12px;*/
    padding-top:12px;
   padding-bottom:6px;
}

#ThucDon .content {
    width:1120px;
    /*width:980px;*/
    height:350px;
    margin: auto;
    position: relative;
    z-index: 1;
    display:block;
}



#ThucDon .content header {
    text-align: center;
    display: block;
    display:table;
    width:100%;
    width:426px;
    height:39px;
    /*font: 35px/45px "MyriadProBoldCondensed";*/
    color: #1F7F00;
    margin:0 auto;
    /*padding-top:5px;
    padding-bottom:21px;*/
    /*margin:auto 5px 20px;*/
    margin:5px auto 21px auto;
     background:url(/content/images/bgl-title-home.png) no-repeat scroll top center;

}

/*#ThucDon .content .name {
    text-align: center;
    display: block;
    font: 35px/45px "MyriadProBoldCondensed";
    color: #1F7F00;
    height: 45px;
}*/

#ThucDon #DSThucDon {
    width: 980px !important;
    margin:0 auto;
    /*height:280px;*/
}

#ThucDon #DSThucDon ul {
    margin: 0px;
    padding: 0px;
}

#ThucDon #DSThucDon ul li {
    margin: 0px;
    padding: 0px;
    list-style: outside none none;
}

#ThucDon #DSThucDon .item {
    float: left;
    width:217px;
    height:auto;
    height:280px;
    background:url(/Uploads/files/bg-prohome1.png);
    margin-right:40px;
    box-shadow: 0 1px 2px 1px rgb(208,205,198);
    /*box-sizing:border-box;*/

}

#ThucDon #DSThucDon .item li:last-child
{
    margin-right:0;
}


#ThucDon #DSThucDon .item:hover .name {
    font-family:Arial;
    font-size:12pt;
}

#ThucDon #DSThucDon .item .imgframe {
    /*width: 170px;
    height: 173px;*/
    width:auto;
    margin:0;
    padding:22px;
    padding-bottom:0;
    display:block;
    overflow:hidden;
    /*border-radius: 100%;
    overflow: visible;
    display: table;
    text-align: center;*/
}

/*#ThucDon #DSThucDon .item:hover .imgframe {
	border:1px solid rgb(140,140,140);
}*/



/*#ThucDon #DSThucDon .item .image {
    width:170px;
    height:173px;
    display:table;
    margin:0;
    padding:0;
}*/

#ThucDon #DSThucDon .item .image img {
    max-width: 170px;
    max-height: 173px;
}

#LineTopProductHome
{
    width:100%;
    width:980px;
    background:url(/Uploads/files/line-top-prohome.png) no-repeat center;
    margin:0 auto;
    padding:0;
    height:6px;
}

#LineBottomProductHome
{
    background:url(/Uploads/files/line-bottom-prohome.png) no-repeat center;
    height:7px;
    width:auto;
    padding:11px 0 9px 0;
    /*margin:11px 0 9px 0;*/
    /*padding:0;*/
}

/*#ThucDon #DSThucDon .item .itemdes
{
    width:110px;
    height:30px;
    margin:0 auto;
    margin:0;
    text-align:center;
}*/
#ThucDon #DSThucDon .item #itemname
{
    font-family:Arial;
    font-size:12px;
    text-align:center;
}
#ThucDon #DSThucDon .item #itemprice
{
    font-family:Arial;
    font-size:14px;
    font-weight:bold;
    color:rgb(229,34,46);
    text-align:center;
    padding-bottom:25px;
}
/*#ThucDon #DSThucDon .item #txtname
{
    width:170px;
    line-height:30px;
        margin:0 auto;
}
#ThucDon #DSThucDon .item .name {
   
        margin:0 auto;  
}

#ThucDon #DSThucDon .item .name span
{
     display: block;
       font-family:Arial;
    font-size:10px;
    display:table;
    width:100%;
     color: #333;
     margin:0 auto;
}*/


#ThucDon .btn-next-prohome, #ThucDon .btn-prev-prohome {
    width: 70px;width:49px;
    height: 70px;height:49px;
    position: absolute;
    top: 144px;
    z-index: 123;
}

#ThucDon .btn-next-prohome {
    right: -110px;
    right:0;
    background: transparent url("images/jcarousellite1.0.1/btn-next-prohome.png") no-repeat scroll center center;
}

#ThucDon .btn-next-prohome:hover {
    background: transparent url("images/jcarousellite1.0.1/btn-next-prohome.png") no-repeat scroll center center;
}
#ThucDon .btn-prev-prohome {
    left: -110px;
    left: 0;
    background: transparent url("images/jcarousellite1.0.1/btn-prev-prohome.png") no-repeat scroll center center;
}
#ThucDon .btn-prev-prohome:hover {
    background: transparent url("images/jcarousellite1.0.1/btn-prev-prohome.png") no-repeat scroll center center;
}
