<div class="main-title">
    <a href="@Html.Raw(ViewBag.MenuLink)">
        <h3><span>@Html.Raw(ViewBag.MenuName)</span></h3>
    </a>
</div>
<ul class="main-list sidebar-list">
    @Html.Raw(ViewBag.Announcement)
</ul>
