<section id="IntroHome">
    <article>
        <a href="/tin-bai/gioi-thieu/">
            <header>

                @*@Html.Raw(ViewBag.Name)*@
            </header>
        </a>
        <figure><img src="/Content/Images/thumb-introhome.png" /></figure>
        <p class="des">@Html.Raw(ViewBag.Content)</p>
        <p class="content">@Html.Raw(ViewBag.Detail)</p>
    </article>
</section>