
        <div class="content-slide">
            <div class="border_box">
                <div class="box_skitter box_skitter_large" style="width:100%;">
                    <ul>
                        @*Cac loai animation trong slide:
                            string[] str = { "circles", "circlesInside", "cube", "cubeRandom", "block", "cubeStop", "cubeStopRandom", "cubeHide", "cubeSize", "horizontal", "showBars", "showBarsRandom", "tube", "fade", "fadeFour", "paralell", "blind", "blindHeight", "blindWidth", "directionTop", "directionBottom", "directionRight", "directionLeft", "cubeSpread", "glassCube", "glassBlock", "circlesRotate", "cubeShow", "upBars", "downBars", "hideBars", "swapBars", "swapBarsBack", "swapBlocks", "cut" };*@
                        @Html.Raw(ViewBag.MainSlide)

                    </ul>
                </div>
            </div>
        </div>

