<section class="row">
    <div id="CommonFooter" class="col-12">   
            <div class="col-5 FooterTop">

                <div class='title'>VIỆN KHOA HỌC GIÁO DỤC VÀ NGHỀ NGHIỆP</div>
                <div class='noidung'>
                    <div class='address'>Trụ sở chính: Lô 0V3.04 Khu chức năng đô thị Xuân Phương, Xuân Phương, Nam Từ Liêm - Hà Nội</div>
                    <div class='cb h10'></div>
                    <div class='address'>Văn phòng tuyển sinh: 26, ngõ 72 Nguyễn Trãi, Thanh Xuân - Hà Nội</div>
                    <div class='cb h10'></div>
                    <div class='phone'>Điện thoại: 0466 592 255 - 0463 275 959</div>               
                    <div class='cb h10'></div>
                    <div class='hotline'>Hotline: 0904 801 455  -  0946 298 408 </div>
                    <div class='cb h10'></div>  
                        <div class='email'>Email: vienkhoahocgdvnn@gmail.com</div>
                        <div class='cb h10'></div>
                        <div class='website'>Website: vienkhoahocgdvnn.edu.vn</div>
                    </div>

                <div class="cb h15"></div>

                <div id="SocialNetwork" class="col-4">
                    <a rel='nofollow' target='_blank' href='#'><img alt="1" src="~/Content/Images/fb.jpg" class="anhQC" /></a>
                    <a rel='nofollow' target='_blank' href='#'><img alt="2" src="~/Content/images/tw.jpg" class="anhQC" /></a>
                    <a rel='nofollow' target='_blank' href='#'><img alt="3" src="~/Content/images/gp.jpg" class="anhQC" /></a>
                    <a rel='nofollow' target='_blank' href='#'><img alt="4" src="~/Content/images/yt.jpg" class="anhQC" /></a>    
                       

</div>
            </div>                
    </div>


    <div id="CommonFooterContent" class="col-12">
        <div class="col-8 nd">
            <div class="col-8 banquyen"> Bản quyền thuộc về Viện Khoa Học Giáo Dục và Nghề Nghiệp</div>
            <span class="col-4 author">Thiết kế website bởi Luong Anh</span>
        </div>
    </div>
    <div class="cb "></div>
</section>