
<section class="row">
    <header class="header">
       
            <div class="col-10 banner">
                @*<a href="/"><img alt="BẮC HÀ" src="~/Content/Images/bg-header.png" /></a>*@
                @*@{Html.RenderAction("_Logo", "Home_PartialView");}*@
            </div>
    
            <div class="col-12 main-navigation">
                <nav id="main-menu">
                    <ul id="menu" class="sm sm-blue" style="width:auto;margin:0 auto;display:table;">
                        @{Html.RenderAction("_MainMenu", "Home_PartialView");}
                    </ul>
                </nav>
            </div>
      
        </header>
        </section>
    @*<div class="col-10 inner">*
       @* <div class="logo">
             <a href="/abc">
        <img alt="BẮC HÀ" src="~/Content/Images/bg-header.png" /></a>

            <div class="right">
                <div id="SocialHeader">
                    <a href="/" title=""><img alt="fb icon" src="/Uploads/images/ic-fb-top-home.png"></a>
                    <a href="/" title=""><img alt="tw icon" src="/Uploads/images/ic-tw-top-home.png"></a>
                    <a href="/" title=""><img alt="gp icon" src="/Uploads/images/ic-gp-top-home.png"></a>
                    <a href="/" title=""><img alt="yt icon" src="/Uploads/images/ic-yt-top-home.png"></a>
                </div>
                <div id="HotLineHeader">
                    <p id="text-Hotline">HOTLINE</p>
                    <p id="num-Hotline">1900.0000</p>
                </div>
            </div>
   </div>*@



