<section class="row">
    <div class="col-12 main-slide-home">
 
        <div class="AdvBackgroundSlideContent">
            <div class="border_box">
                <div class="box_skitter box_skitter_large">
                    <ul>
                        @{Html.RenderAction("_MainSlide0", "Home_PartialView");}
                    </ul>
                </div>
            </div>
        </div>


    </div>
</section>